<div class="seller-auth" *ngIf="!showdata">

  <div class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form class="common-form" #form="ngForm" (ngSubmit)="signUp(form.value)">
      <input class="form-input" ngModel type="text" name="name" id="name" placeholder="Enter name.">
      <input class="form-input" ngModel type="email" name="email" id="email" placeholder="Enter email.">
      <input class="form-input" ngModel type="password" name="password" id="password" placeholder="Enter password.">
      <button class="form-button">Sign Up</button>
      <p>Already have account <a (click)="showSignUp()">Login here.</a></p>
    </form>
  </div>
</div>

<!-- login -->
<div class="seller-auth" *ngIf="showdata">

  <div class="sign-up">
    <h1>Seller Login</h1>
    <form class="common-form" #form="ngForm" (ngSubmit)="login(form.value)">

      <input class="form-input" ngModel type="email" name="email" id="email" placeholder="Enter email.">
      <input class="form-input" ngModel type="password" name="password" id="password" placeholder="Enter password.">
      <button class="form-button">Login</button>
      <p>New user <a (click)="showLogin()">Sign up here.</a></p>
    </form>
  </div>
</div>
